<h1>Listing Captures</h1>

<table>
  <tr>
   
    <th>LitleTransactionID(From Authorzation LitleTranscationID)</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @captures.each do |capture| %>
  <tr>
   
    <td><%= capture.litletxnid %></td>
    <td><%= capture.amount %></td>
    <td><%= link_to 'Edit', edit_capture_path(capture) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to button_tag('Home'), root_path%>
