<h1>Confirm Capture</h1>
<p><%= @post %></p>
<td>LitleTransactionID: <%= @litletxnid %>, you may now perform a credit/refund or void transaction using the litleTxnId</td>
<p>
<%= link_to button_tag('Home'), root_path%>
</p>
