<h1>Confirm Authorization</h1>
<p><%= @post %></p>
<table>
<tr>
<td>LitleTransactionID</td>
<td><%= @litletxnid %></td>
</tr>
<tr>
<td>LitleTransactionDate</td>
<td><%= @litlepostdate %></td>
</tr>
</table>
<p>
<%= link_to button_tag('Back'), root_path%>
</p>
