<h1>Confirm Authorization</h1>
<p><%= @post %></p>
<td>LitleTransactionID: <%= @litletxnid %>, you may now perform a credit,capture or void transaction using the litleTxnId</td>
<p>
<%= link_to button_tag('Back'), root_path%>
</p>