<h1>Listing Credits</h1>

<table>
  <tr>
    <th>litleTxnId</th>
    <th>Amount</th>
    <th></th>
  </tr>

<% @credits.each do |credit| %>
  <tr>
   <td><%= credit.litletxnid %></td>
    <td><%= credit.amount %></td>
   
    <td><%= link_to 'Edit', edit_credit_path(credit) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to button_tag('Home'), root_path%>
