<h1>Listing voids</h1>

<table>
  <tr>
    <th>LitleTranscationID(From Credit, Capture or Sale)</th>
    <th></th>
  </tr>

<% @voids.each do |void| %>
  <tr>
    <td><%= void.litletxnid %></td>
    <td><%= link_to 'Edit', edit_void_path(void) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to button_tag('Home'), root_path%>
