<h1>Confirm Sale</h1>
<p><%= @post %></p>
<td>LitleTransactionID: <%= @litletxnid %>, you may now perform a refund/credit or void transaction using the litleTxnId</td>
<p>
<%= link_to button_tag('Back'), root_path%>
</p>
