<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag "book" %>
  <header id="Litle-branding">
      <div class="wrapper">
        <hgroup>
          <h1 class="logo"><a href="http://www.Litle.com/developers">  <%= image_tag "Litle.jpg" %> </a></h1>
          <h2 class="subtitle"><span class="separator"></span> Demo Rails App Using Active Merchant</h2>
        </hgroup>

</head>
<body>

<%= yield %>

</body>
</html>
